#adminpage{
    background-color:white;
    height:200px;
    width:300px;
    margin-top:200px;
    margin-left:500px;
    text-align: center;
    box-shadow: 5px 5px white;
}
.logout{
    width:200px;
    margin-left:0px;
}
.role{
    padding-top:30px;
}