/* body{
    background-image:url('https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-repeat: no-repeat;
   
} */
body{
    background-color: #f2f2f2;
}
#form{
    margin-top: 200px;
    background-color:white;
    height:250px;
    width:550px;
    margin-left:450px;
    box-shadow: 5px 5px white;
}
input{
    
    height:50px;
    width:400px;
    background-color: white;
}
input:focus{
    border:3px solid tomato;
    
}
label{
    padding-left: 30px;
    font-size:18px;
    color:tomato
}
#email{
    margin-top:30px
}
.submit,.logout{
    border:none;
    background-color: tomato;
    color:white;
    height:40px;
    width:490px;
    margin-top: 20px;
    margin-left: 30px;
}
.submit:hover{
    background-color:#ff8080;
}
.logout:hover{
    background-color:#ff8080;
}