.heading{
    text-align: left;
    margin-top:20px;
}
.information{
    color:#0275d8;
    font-size:20px;
    padding-top:30px;
}
.information:hover{
    color:#01447e;
}
hr{
    margin-top:0px;
    
}