.navbar{
    background-color: #ff8080;
    padding: 0px 0px;
    box-shadow: 0px 2px rgba(0,0,0,.2);
}
#icon-bar{
    width:30px;
    color:white;
    margin-right:10px;
    background-color: #ff8080;
    border: none;
}
.navbar-brand{
    text-decoration-line: underline;
    text-decoration-color:white;
    text-decoration-style: solid;
    font-size:32px;
    color:white;
    font-weight:bold;
    padding:0px 0px;
}
.navbar-brand:hover{
    text-decoration-color: white;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color:white;
    font-weight:bold;
}
.nav-link{
    color:white; 
    height:50px;
}
.nav-link:hover{
    background-color: rgba(0,0,0,.1);
    color:white;
}
#sign_in{
    width:100px;
    margin-top:5px;
    height:40px;
    margin-left:0;
    background-color: #26a69a;
    box-shadow: 0px 2px rgba(0,0,0,.2);
}
#sign_in:hover{
    background-color: #2bbbad;
}
#info{
    background-color: rgba(0,0,0,.2);
}
#info:hover{
    background-color: rgba(0,0,0,.3);
}
#background {
    background-image: url("https://aidforcancer.com/static/media/information-blurred.88c33272.jpg");
    margin-top:5px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#information{
    color:white;
    padding-top:20px;
    text-align: center;
}
#details{
    color:white;
    padding-top:10px;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
    font-size:18px
}
table{
    width:100%;
    height:200px;
    color:#26a69a;
    border:border-collapse;
    margin-top:5px;
}
table,td{
    border:1px solid #ddd;
}
td:hover{
    background-color:#ddd
}
#news{
    background-color: #26a69a;
    color:white;
}
.news1{
    float:left;
    padding-top:5px;
}
.showall{
    text-decoration: none;
    color:#039be5;
    float:right;
    padding-top:15px;
}
.showall:hover{
    text-decoration: none;
    color:#039be5;
}
hr{
    border-bottom: 1px solid grey;
}
.body{
    height:120px;
    width: 100%;
    background-color:#eee;
    margin-top:10px;
    border:1px solid #ddd;
}
.newsimage{
    height:50px;
    width:50px;
    float:left;
    background-color:white;
    margin-left:10px;
    margin-top:10px;
}
.newsLine{
    text-align: left;
    margin-left:70px;
    margin-right:70px;
}
.heading{
    font-size:20px;
    color:#039be5;
}
.heading:hover{
    color:#039be5;
    text-decoration: none;
}
.brief{
    text-align:left;
    font-size: 14.5px;
    color:rgba(0,0,0,.75);
}
.like{
    color: blue;
    float:right;
    margin-right:10px;
}
.comment{
    color:tomato;
    float:right;
    margin-right:10px;
}
.contactus{
    color:white;
    background-color: #ee6e73;
}
.footer{
    height:60px;
    background-color: rgb(228, 109, 115);
    padding-top:10px;
    margin-top:-5px;
    margin-left:-5px;
}

.contact {
    float:left;
    margin-left: 10vw;
    margin-top: 13px;
   
} 
.footlink:hover{
    color:white;
    text-decoration: none;
}
.abusebtn  {
    float:left;
    margin-left: 30px;
    margin-top: 10px;
    color : rgb(14, 187, 245);
    height: 2.4em;
    line-height: 2.4em;
    font-size: .7em;
    padding: 0 1em;
    background-color: initial;
    border: 1.5px solid #fff;
    margin-left: 2em;
    font-family: Montserrat;
    border-radius:  2px;
    width:100px
}

.About {
    float:left;
    /* margin-top: 13px; */
    padding-top:20px;
    margin-left: 10vw;
}
.privacy {
    float:left;
    margin-left: 20px;
    /* margin-top: 13px; */
    padding-top:20px
   
}
.footlink{
    text-decoration: none;
    color: white;
}
.copyright {
    height:50px;
    background-color: rgb(223, 90, 97);
    color: white;
    text-align:center;

}