.w3schools-logo{
    font-family  : fontawesome ;
    text-decoration : none ;
    line-height: 1;
    font-size : 37px;
    letter-spacing : 3px;
    color : #555555;
    position : relative;

}
.w3schools-logo:hover{
    text-decoration : none ;  
    color : #555555;
}
.w3schools-logo .dotcom{
    color : #4CAF50;
}
.navbar{
    padding : 0px 0px;
}
.navbar .nav-item:hover{
    background-color: white;
}
.navbar .nav-link{
    color:white;
}
.navbar .nav-link:hover{
    color:black;
}
#globe:hover{
    text-decoration: none;
}
#search:hover{
    text-decoration: none;
}
#nav .nav-item:hover{
  background-color: black;
}
#nav .nav-link:hover{
    color:white;
}
#html{
    background-color: #4CAF50;
}
#html:hover{
    background-color: black;
}