input{
    margin-top:10px;
    height:30px;
    width:300px;
}
button{
    background-color: #4caf50;
    color:white;
    width:300px;
    border:none;
    height:40px;
    margin-top: 20px;
    
}
form{
    margin-left: 40%
}